<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="Title"><b>Exam</b></div>
    <div class="containor">
        <ul class = "Question" id = "Q1">Who came First?
            <li class = "Options"><input type="radio" name="Q1" id="Q1 O1" value="Dog">Dog</li>
            <li class = "Options"><input type="radio" name="Q1" id="Q1 O2 CorrectAns" value="Human">Human</li>
        </ul>
        <ul class="Question" id="Q2">How many laws are there of Newton?
            <li class="Options"><input type="radio" name="Q2" id="Q2 O1" value="one">1</li>
            <li class="Options"><input type="radio" name="Q2" id="Q2 O2" value="two">2</li>
            <li class="Options"><input type="radio" name="Q2" id="Q2 O3" value="three">3</li>
        </ul>
        <ul class="Question" id="Q3">When do India got Independence
            <li class="Options"><input type="radio" name="Q3" id="Q3 O1" value="one">15 aug 1947</li>
            <li class="Options"><input type="radio" name="Q3" id="Q3 O2" value="two">26 jan 1950</li>
            <li class="Options"><input type="radio" name="Q3" id="Q3 O3" value="three">26 oct 5000BCE</li>
        </ul>

        <button id="Submit">Submit</button>
    </div>
    <script>
        document.getElementById('Submit').addEventListener('click', ()=>{
            document.location = "/answer"
        })
    </script>
</body>
</html>