.box {
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    margin-right: 800px;
    border: 5px solid blue;
    border-radius: 15px;
    height: 100px;
    box-sizing: border-box;
}

.box2 {
    padding: 12px;
}

* {
    margin: 0px;
    padding: 0px;
}